<config>
	<test driver="comp352.datastructures.huffman.HuffCode" method="main" label="Check Student Example 1 Encoding">
		<args>haiku1.txt encode</args>
		<input>adventur</input>
		<mark grade="10">
			<check label="Check encoded version"><regex>11101001001010101011000111011010000</regex></check>
		</mark>
	</test>

	<test driver="comp352.datastructures.huffman.HuffCode" method="main" label="Check Student Example 1 Decoding">
		<args>haiku1.txt decode</args>
		<input>11101001001010101011000111011010000</input>
		<mark grade="10">
			<check label="Check decoded version"><regex>adventur</regex></check>
		</mark>
	</test>

	<test driver="comp352.datastructures.huffman.HuffCode" method="main" label="Check Student Example 2 Encoding">
		<args>haiku2.txt encode</args>
		<input>leaves a</input>
		<mark grade="10">
			<check label="Check encoded version"><regex>1101011000010010101111100100000</regex></check>
		</mark>
	</test>

	<test driver="comp352.datastructures.huffman.HuffCode" method="main" label="Check Student Example 2 Decoding">
		<args>haiku2.txt decode</args>
		<input>1101011000010010101111100100000</input>
		<mark grade="10">
			<check label="Check decoded version"><regex>leaves a</regex></check>
		</mark>
	</test>

</config>
